@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --background: 240 60% 6%;
    --foreground: 0 0% 98%;
    --card: 240 60% 6%;
    --card-foreground: 0 0% 98%;
    --popover: 240 60% 6%;
    --popover-foreground: 0 0% 98%;
    --primary: 219 38% 72%;
    --primary-foreground: 240 60% 6%;
    --secondary: 236 51% 12%;
    --secondary-foreground: 0 0% 98%;
    --muted: 230 36% 13%;
    --muted-foreground: 0 0% 98%;
    --accent: 0 65% 57%;
    --accent-foreground: 240 60% 6%;
    --destructive: 0 62% 30%;
    --destructive-foreground: 222 33% 10%;
    --border: 220 25% 60%;
    --input: 219 25% 80%;
    --ring: 7 83% 60%;
  }

  .dark {
    --background: 240 60% 6%;
    --foreground: 0 0% 98%;
    --card: 240 60% 6%;
    --card-foreground: 0 0% 98%;
    --popover: 240 60% 6%;
    --popover-foreground: 0 0% 98%;
    --primary: 219 38% 72%;
    --primary-foreground: 240 60% 6%;
    --secondary: 236 51% 12%;
    --secondary-foreground: 0 0% 98%;
    --muted: 230 36% 13%;
    --muted-foreground: 0 0% 98%;
    --accent: 0 65% 57%;
    --accent-foreground: 240 60% 6%;
    --destructive: 0 62% 30%;
    --destructive-foreground: 222 33% 10%;
    --border: 220 25% 60%;
    --input: 219 25% 80%;
    --ring: 7 83% 60%;
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  input {
    @apply w-full bg-inherit font-bold text-background outline-none;
  }
  input::placeholder {
    @apply font-light text-background;
  }
}
