@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 219 25% 89%;
    --foreground: 221 35% 9%;
    --card: 219 25% 89%;
    --card-foreground: 221 35% 9%;
    --popover: 219 25% 89%;
    --popover-foreground: 221 35% 9%;
    --primary: 219 38% 28%;
    --primary-foreground: 219 25% 89%;
    --secondary: 235 33% 80%;
    --secondary-foreground: 221 35% 9%;
    --muted: 219 25% 20%;
    --muted-foreground: 221 35% 70%;
    --accent: 7 83% 41%;
    --accent-foreground: 219 25% 89%;
    --destructive: 0 85% 60%;
    --destructive-foreground: 221 35% 9%;
    --border: 219 25% 20%;
    --input: 219 25% 20%;
    --ring: 7 83% 40%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 219 25% 11%;
    --foreground: 221 35% 91%;
    --card: 219 25% 11%;
    --card-foreground: 221 35% 91%;
    --popover: 219 25% 11%;
    --popover-foreground: 221 35% 91%;
    --primary: 219 38% 72%;
    --primary-foreground: 219 25% 11%;
    --secondary: 235 33% 20%;
    --secondary-foreground: 221 35% 91%;
    --muted: 219 25% 80%;
    --muted-foreground: 221 35% 91%;
    --accent: 7 83% 59%;
    --accent-foreground: 219 25% 11%;
    --destructive: 0 62% 30%;
    --destructive-foreground: 222 33% 10%;
    --border: 220 25% 60%;
    --input: 219 25% 80%;
    --ring: 7 83% 60%;
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
