---
import TestimonialUser from "@/components/TestimonialUser";
import { Button } from "@/components/ui/button";
import {
  Card,
  CardContent,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
} from "@/components/ui/card";
import { Input } from "@/components/ui/input";
import { Textarea } from "@/components/ui/textarea";
import GridAnimations from "@/components/GridAnimations";
import CardGrid from "@/components/index/CardGrid";
import Layout from "@/layouts/Layout.astro";
import { QuoteIcon } from "@radix-ui/react-icons";
import { PaintBucket } from "lucide-react";
---

<Layout title="DynamyX | Where we build things that matter.">
  <main class="my-8">
    <GridAnimations client:only />
    <section id="hero" class="container mx-auto min-h-[40vh] px-4">
      <h1
        class="mt-[15vh] text-center font-mono text-5xl [text-wrap:balance] md:mt-[20vh] md:text-7xl"
      >
        Building things that <span class="text-blue-500">matter.</span> To make
        an impact on the world.
      </h1>
      <p class="mx-auto mt-14 max-w-prose text-center text-xl">
        At DynamyX, we are building solutions to problems that matter. We are a
        team of passionate developers, designers, and creators who are building
        for the future.
      </p>
      <div class="mx-auto mt-10 flex w-full max-w-xs justify-evenly">
        <Button size="lg">Learn More</Button>
        <Button variant="secondary" size="lg">Read the Blog</Button>
      </div>
    </section>
    <CardGrid client:load />
    <section id="Projects" class="container mx-auto px-4">
      <h2 class="mt-20 px-2 text-center text-4xl">Projects</h2>
      <div class="relative mt-10 min-h-screen">
        <Card className="absolute top-1/2 -translate-y-1/2 md:w-1/2">
          <CardHeader>
            <PaintBucket width={30} height={30} className="mb-5" />
            <CardTitle className="text-2xl">Card Title</CardTitle>
          </CardHeader>
          <CardContent>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius
              illum nihil et corrupti quasi, incidunt iste asperiores, modi quas
              eaque iure deserunt voluptatum ratione, ea omnis natus qui
              nesciunt explicabo.
            </p>
          </CardContent>
          <CardFooter>
            <Button>Learn More</Button>
          </CardFooter>
        </Card>
      </div>
      <div class="relative mt-10 min-h-screen">
        <Card
          className="absolute top-1/2 w-full -translate-y-1/2 md:left-1/2 md:w-1/2"
        >
          <CardHeader>
            <PaintBucket width={30} height={30} className="mb-5" />
            <CardTitle className="text-2xl">Card Title</CardTitle>
          </CardHeader>
          <CardContent>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius
              illum nihil et corrupti quasi, incidunt iste asperiores, modi quas
              eaque iure deserunt voluptatum ratione, ea omnis natus qui
              nesciunt explicabo.
            </p>
          </CardContent>
          <CardFooter>
            <Button>Learn More</Button>
          </CardFooter>
        </Card>
      </div>
    </section>
    <section class="container mx-auto px-4" id="Blogs">
      <h2 class="mt-20 px-2 text-center text-4xl">Blogs</h2>
      <div class="mx-auto mt-10 flex max-w-4xl flex-col gap-5">
        <Card>
          <CardHeader>
            <CardDescription className="text-gray-500">
              <time>
                <span class="text-gray-500">May 14, 2021</span>
              </time>
            </CardDescription>
            <CardTitle className="text-2xl">Blog Post 1</CardTitle>
          </CardHeader>
          <CardContent>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius
              illum nihil et corrupti quasi, incidunt iste asperiores, modi quas
              eaque iure deserunt voluptatum ratione, ea omnis natus qui
              nesciunt explicabo.
            </p>
          </CardContent>
          <CardFooter>
            <Button>Read More</Button>
          </CardFooter>
        </Card>
        <Card>
          <CardHeader>
            <CardDescription className="text-gray-500">
              <time>
                <span class="text-gray-500">May 14, 2021</span>
              </time>
            </CardDescription>
            <CardTitle className="text-2xl">Blog Post 1</CardTitle>
          </CardHeader>
          <CardContent>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius
              illum nihil et corrupti quasi, incidunt iste asperiores, modi quas
              eaque iure deserunt voluptatum ratione, ea omnis natus qui
              nesciunt explicabo.
            </p>
          </CardContent>
          <CardFooter>
            <Button>Read More</Button>
          </CardFooter>
        </Card>
        <Card>
          <CardHeader>
            <CardDescription className="text-gray-500">
              <time>
                <span class="text-gray-500">May 14, 2021</span>
              </time>
            </CardDescription>
            <CardTitle className="text-2xl">Blog Post 1</CardTitle>
          </CardHeader>
          <CardContent>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius
              illum nihil et corrupti quasi, incidunt iste asperiores, modi quas
              eaque iure deserunt voluptatum ratione, ea omnis natus qui
              nesciunt explicabo.
            </p>
          </CardContent>
          <CardFooter>
            <Button>Read More</Button>
          </CardFooter>
        </Card>
      </div>
    </section>
    <section class="container mx-auto px-4" id="Testimonials">
      <h2 class="mt-20 px-2 text-center text-4xl">
        What people have to say about us
      </h2>
      <div class="mt-14">
        <Card className="relative mx-auto max-w-3xl">
          <QuoteIcon height={80} width={80} opacity={0.6} className="mx-4" />
          <CardContent>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius
              illum nihil et corrupti quasi, incidunt iste asperiores, modi quas
              eaque iure deserunt voluptatum ratione, ea omnis natus qui
              nesciunt explicabo.
            </p>
          </CardContent>
          <CardFooter>
            <TestimonialUser />
          </CardFooter>
        </Card>
      </div>
    </section>
    <section class="container mx-auto px-4" id="CTA">
      <h2 class="mt-20 px-2 text-center text-4xl [text-wrap:balance]">
        Want to know more or work together? Reach out to us!
      </h2>
      <form
        name="ReachOut"
        class="mx-auto mt-20 flex max-w-3xl flex-col gap-5"
        data-netlify="true"
        method="POST"
      >
        <Input
          type="email"
          placeholder="Email"
          name="email"
          aria-label="Email"
          required
        />
        <Input
          type="text"
          placeholder="Name"
          name="name"
          required
          aria-label="name"
        />
        <Textarea className="h-40" name="content" aria-label="Enter Content" />
        <Button type="submit">Submit</Button>
      </form>
    </section>
    <footer></footer>
  </main>
</Layout>

<style is:global>
  .nav {
    padding: 2rem;
  }
</style>
