---
import Servicenav from "@/components/kalex/Servicenav.tsx";
import CaseCard from "@/components/kalex/CaseCard.tsx";
import Layout from "@/layouts/Layout.astro";
import Navbar from "@/components/kalex/Navbar.tsx";
import QuestionCard from "@/components/kalex/QuestionCard";
---
<script is:inline src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.js"></script>
<Layout title="Kalex by DynamyX | Where we build things that matter.">
  <div class="kalex min-w-screen bg-background text-foreground">
    <main class="container isolate pb-28 pt-10 md:px-36">
      <img
        src="/patternbg.svg"
        alt="background"
        class="pointer-events-none absolute left-0 top-[5.5rem] -z-10 h-screen w-screen object-cover opacity-30"
        aria-hidden="true"
      />
      <Navbar client:load />
      <section
        class="mt-24 flex flex-col items-center justify-center gap-8"
        id="hero"
      >
        <div class="flex flex-row items-center gap-6">
          <hr class="h-px md:w-[72px]" />
          <h5
            class="text-base font-medium uppercase text-primary md:tracking-[0.25rem]"
          >
            Igniting Urban Evolution
          </h5>
          <hr class="h-px md:w-[72px]" />
        </div>
        <h2
          class="text-center text-4xl font-light leading-[1.25] tracking-[3px]"
        >
          Transforming Urban Parking from<br /><span class="font-bold"
            >chaos to seamless flow.</span
          >
        </h2>
        <p class="max-w-[400px] text-center text-base font-medium text-primary">
          In the urban hustle, where parking is a daily challenge, Kalex is your
          guiding light.
        </p>
        <div
          class="flex h-14 flex-row items-center justify-between rounded-full bg-primary pl-6 pr-px md:w-[440px]"
        >
          <input type="email" placeholder="Enter Your Email Address" />
          <button class="h-[52px] w-44 rounded-full bg-background"
            >Try Us</button
          >
        </div>
        <h5
          class="text-base font-medium uppercase tracking-[0.25rem] text-primary"
        >
          Scroll down &#8594
        </h5>
      </section>
      <section
        id="features"
        class="mt-40 flex flex-col items-center gap-8 md:flex-row md:justify-between"
      >
        <div class="flex flex-col gap-6">
          <div class="flex flex-row items-center gap-6 text-accent">
            <h5 class="font-medium uppercase tracking-[0.25rem]">Features</h5>
            <hr class="h-px w-[72px] border-accent" />
          </div>
          <h2 class="text-xl font-light leading-[1.25] tracking-[3px]">
            Explore the Versatility of<br /><span class="text-2xl font-bold"
              >Kalex</span
            >
          </h2>
        </div>
        <div
          class="flex flex-col gap-4 md:grid md:grid-flow-col md:grid-rows-2"
        >
          <CaseCard
            title="Smart Parking"
            description="Receive real-time updates on parking space availability, eliminating the hassle of searching for a spot."
          />
          <CaseCard
            title="Reservation"
            description="Secure your parking space in advance with our reservation feature, giving you peace of mind and eliminating last-minute uncertainties."
          />
          <CaseCard
            title="Adaptive Pricing"
            description="Experience cost-effective parking solutions with our dynamic pricing, optimizing space utilization for both users and providers."
          />
          <CaseCard
            title="User Convenience"
            description="Our user-friendly interface and seamless functionalities redefine your parking experience, making it convenient and stress-free."
          />
        </div>
      </section>
      <section id="roadmap" class="mt-36">
        <div class="flex flex-row items-center gap-6 text-accent justify-center mb-4">
          <hr class="h-px w-[72px] border-accent" />
          <h5 class="font-medium uppercase tracking-[0.25rem]">Road Map</h5>
          <hr class="h-px w-[72px] border-accent" />
        </div>
        <h2 class="text-xl font-light leading-[1.25] tracking-[3px] text-center">
          The Kalex Roadmap to Seamless<br /><span class="text-2xl font-bold"
            >Parking Solutions</span
          >
        </h2>
        <img
          src="/roadmap.png"
          alt="roadmap"
          class="mt-2 w-full absolute left-0 hidden md:block">
          <img
          src="/roadmapmobile.png"
          alt="roadmap"
          class="mt-14 w-full left-0 absolute md:hidden block">
      </section>
      <section id="banner" class="md:mt-[70rem] mt-[55rem]">
        <img
          src="/kalexParking.png"
          alt="kalexCarImage"
          class="mt-40 hidden w-full md:block"
        />
        <h2
          class="mt-28 text-center text-xl font-light leading-[1.25] tracking-[3px] md:-mt-28"
        >
          Unveiling Exceptional<span class="text-xl font-bold">Services</span>
           for an<br /><span class="text-xl font-bold">Unmatched</span>
           Experience!
        </h2>
      </section>
      <section id="services" class="mt-36 flex flex-row items-center">
        <div class="flex flex-col gap-6 w-full">
          <div class="flex flex-row items-center gap-6 text-accent">
            <h5 class="font-medium uppercase tracking-[0.25rem]">Services</h5>
            <hr class="h-px w-[72px] border-accent" />
          </div>
          <h2 class="text-xl font-light leading-[1.25] tracking-[3px]">
            Our Range of Premier Services<br /> at <span
              class="text-2xl font-bold">Kalex</span
            >
          </h2>
          <Servicenav client:load />
        </div>
      </section>
      <section id="faq" class="mt-40">
        <div class="flex w-full flex-wrap items-center justify-between">
          <dotlottie-player
            class="hidden md:block"
            src="https://lottie.host/32faba50-d9ce-458b-a443-c1874f53e8f1/SOCizeH2Uu.json"
            background="transparent"
            speed="0.5"
            style="width: 500px; height: 500px;"
            loop
            autoplay></dotlottie-player>
          <div>
            <div class="flex flex-row items-center gap-6 text-accent">
              <h5 class="font-medium uppercase tracking-[0.25rem]">FAQ</h5>
              <hr class="h-px w-[72px] border-accent" />
            </div>
            <h2 class="mt-6 text-xl font-light leading-[1.25] tracking-[3px]">
              Frequently Asked<br /><span class="text-2xl font-bold"
                >Questions</span
              >
            </h2>
            <div class="mt-6 flex flex-col gap-3">
              <QuestionCard
                question="How does Kalex work?"
                answer="Kalex operates through a sophisticated system integrating advanced sensors and data analytics. Real-time updates on parking availability are provided, ensuring users stay informed with the latest information through our user-friendly platforms."
                default
                client:load
              />
              <QuestionCard
                question="How does the real-time availability update work?"
                answer="Our system utilizes advanced sensors and data analytics to provide accurate real-time updates on parking space availability, ensuring users have the latest information at their fingertips."
                client:load
              />
              <QuestionCard
                question="Is the mobile app available for both iOS and Android?"
                answer="Yes, the Kalex mobile app is compatible with both iOS and Android devices, ensuring a seamless experience for a wide range of users."
                client:load
              />
              <QuestionCard
                question="How can businesses integrate Kalex into their parking facilities?"
                answer="Businesses register on our website, download our software, and connect it to their parking infrastructure, including ramps and sensors, to enable real-time parking management through the Kalex platform."                
                client:load
              />
            </div>
          </div>
        </div>
      </section>
    </main>
  </div>
</Layout>
