---
import "@fontsource/barlow";
import "@fontsource/space-mono";
import "@/styles/admin.css";
import Sidebar from "@/components/AdminPanel/Sidebar";
import Slot from "@/components/AdminPanel/Slot";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Building amazing solutions that matter."
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Kalex Admin Panel</title>
  </head>
  <body class="flex overflow-clip">
    <Sidebar client:load />
    <Slot
      title="Parking Space"
      description="Realtime overview of the parking space"
      client:load
    />
    <script is:inline>
      document.documentElement.classList.add("dark");
    </script>
  </body>
</html>
