---
import "@/styles/kalex.css";
import Sidebar from "@/components/AdminPanel/Sidebar";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Building amazing solutions that matter."
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Kalex Admin Panel</title>
  </head>
  <body>
    <main class="flex h-screen w-screen items-center justify-between px-2">
      <Sidebar client:load />
      <section class="h-[98vh] w-[85vw] rounded-2xl bg-muted px-12 py-8">
        <h1 class="text-3xl">Dashboard</h1>
        <p>Welcome to the dashboard.</p>
      </section>
    </main>
  </body>
</html>
<script is:inline>
  document.documentElement.classList.add("dark");
</script>
