---
import Servicenav from "@/components/kalex/Servicenav.tsx";
import CaseCard from "@/components/kalex/CaseCard.tsx";
import Layout from "@/layouts/Layout.astro";
import Navbar from "@/components/kalex/Navbar.tsx";
---

<Layout title="Kalex by DynamyX | Where we build things that matter.">
  <div class="kalex min-w-screen bg-background text-foreground">
    <main class="container md:px-36 pb-28 pt-10 ">
      <Navbar />
      <section
        class="flex flex-col items-center justify-center gap-8 mt-24 "
        id="hero"
      >
        <div class="flex flex-row items-center gap-6">
          <hr class="h-px md:w-[72px]" />
          <h5
            class="text-base font-medium uppercase md:tracking-[0.25rem] text-primary"
          >
            Lores ispum on wau
          </h5>
          <hr class="h-px md:w-[72px]" />
        </div>
        <h2
          class="text-center text-4xl font-light leading-[1.25] tracking-[3px]"
        >
          Transforming Urban Parking from<br /><span class="font-bold"
            >chaos to seamless flow.</span
          >
        </h2>
        <p class="max-w-[400px] text-center text-base font-medium text-primary">
          Aenean aliquam nibh laoreet elit faucibus, condimentum purus in,
          elementum risus. Mauris at
        </p>
        <div
          class="flex h-14 md:w-[440px] flex-row items-center justify-between rounded-full bg-primary pl-6 pr-px"
        >
          <input type="email" placeholder="Enter Your Email Address" />
          <button class="h-[52px] w-32 rounded-full bg-background">Join</button>
        </div>
        <h5
          class="text-base font-medium uppercase tracking-[0.25rem] text-primary"
        >
          Scroll down &#8594
        </h5>
      </section>
      <section
        id="usecases"
        class="mt-40 flex md:flex-row flex-col items-center md:justify-between gap-8"
      >
        <div class="flex flex-col gap-6">
          <div class="flex flex-row items-center gap-6 text-accent">
            <h5 class="font-medium uppercase tracking-[0.25rem]">Use Cases</h5>
            <hr class="h-px w-[72px] border-accent" />
          </div>
          <h2 class="text-xl font-light leading-[1.25] tracking-[3px]">
            Explore the Versatility of<br /><span class="text-2xl font-bold"
              >Kalex</span
            >
          </h2>
        </div>
        <div class="md:grid md:grid-flow-col md:grid-rows-2 gap-4 flex flex-col">
          <CaseCard
            title="Smart Parking"
            description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod, diam sit amet dictum."
          />
          <CaseCard
            title="Powerfull"
            description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod, diam sit amet dictum."
          />
          <CaseCard
            title="Energetic"
            description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod, diam sit amet dictum."
          />
          <CaseCard
            title="kinesis"
            description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod, diam sit amet dictum."
          />
        </div>
      </section>
      <section id="feature">
        <img
          src="/public/kalexParking.png"
          alt="kalexCarImage"
          class="mt-40 w-full hidden md:block"
        />
        <h2
          class="md:-mt-28 mt-28 text-center text-xl font-light leading-[1.25] tracking-[3px]"
        >
          Unveiling Exceptional<span class="text-xl font-bold">Features</span>
          for an<br /><span class="text-xl font-bold">Unmatched</span>
          Experience!
        </h2>
      </section>
      <section id="services" class="mt-96 flex flex-row items-center">
        <div class="flex flex-col gap-6">
          <div class="flex flex-row items-center gap-6 text-accent">
            <h5 class="font-medium uppercase tracking-[0.25rem]">Services</h5>
            <hr class="h-px w-[72px] border-accent" />
          </div>
          <h2 class="text-xl font-light leading-[1.25] tracking-[3px]">
            Our Range of Premier Services<br /> at <span
              class="text-2xl font-bold">Kalex</span
            >
          </h2>
          <Servicenav client:load/>
        </div>
      </section>
    </main>
  </div>
</Layout>
