---
import "@/styles/kalex.css";
import { Input } from "@/components/ui/input";
import { Button } from "@/components/ui/button";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Building amazing solutions that matter."
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Kalex Login Page</title>
  </head>
  <body class="flex h-screen w-screen items-center justify-between px-2">
    <div class="hidden h-[98vh] w-[48vw] rounded-lg bg-muted lg:block"></div>
    <div
      class="flex h-[98vh] w-full flex-col items-center justify-between py-8 lg:w-[48vw]"
    >
      <img src="/Kalexlogo.png" class="h-10" />
      <div class="flex flex-col gap-12">
        <div class="flex flex-col items-center">
          <div class="text-3xl">Welcome Back!</div>
          <h4 class="text-primary">
            Enter your credentials to access your account
          </h4>
        </div>
        <form
          id="login-form"
          name="Login"
          class="flex flex-col gap-4 lg:w-[20vw]"
          data-netlify="true"
          method="POST"
        >
          <Input
            type="email"
            placeholder="email address"
            name="email"
            required
            aria-label="email"
            className=" text-card-foreground placeholder:text-input"
          />
          <Input
            type="password"
            placeholder="password"
            name="password"
            aria-label="password"
            className=" text-card-foreground placeholder:text-input"
          />
          <Button type="submit" className="bg-foreground">
            <a href="/kalexAdminPanel">log in</a>
          </Button>
          <a class="self-end text-xs text-primary">Forget password?</a>
        </form>
      </div>
      <h6 class="text-xs text-primary">
        New to kalex?<a href="/register" class="font-bold text-foreground">
          Create an account</a
        >
      </h6>
    </div>
  </body>

  <script is:inline>
    document.documentElement.classList.add("dark");
  </script>
</html>
