---
import Layout from "@/layouts/Layout.astro";
import { Navbar } from "@/components/precio/Navbar.tsx";
import { Button } from "@/components/ui/button";
---

<Layout title="Precio by DynamyX | Where we build things that matter.">
  <div class="precio">
    <Navbar client:load />
    <main class="min-w-screen bg-background text-foreground">
      <section class="container grid min-h-[calc(100vh-11.5rem)] grid-cols-2">
        <div class="mt-24">
          <h1 class="text-7xl">Unified platform for real life data.</h1>
          <p class="mt-8 text-2xl">
            Empowering Agriculture and more with Data-Driven Solutions. We help
            you to collect, store, analyze, visualize and derive AI powered
            insigts from your data.
          </p>
          <div class="flex flex-wrap gap-6">
            <Button className="mt-8" size="lg">
              Get started with Precio →
            </Button>
            <Button className="mt-8" size="lg" variant="ghost">
              Learn More About what we do →
            </Button>
          </div>
        </div>
      </section>
      <section class="container flex flex-row-reverse gap-8 pb-20">
        <div class="my-20 flex flex-1 flex-col justify-center">
          <h2 class="text-5xl">
            Innovating Agriculture with Data-Driven Solutions.
          </h2>
          <p class="mt-8 text-lg">
            With Precio, we believe to use the power of data to drive progress.
            Our platform is designed to help you harness the potential of data,
            automate processes, and make more informed decisions. Whether you're
            an industry professional, a hobbyist, or simply passionate about
            agriculture, Precio is your partner for smarter farming.
          </p>
        </div>
        <div class="flex-1">
          <img
            src="/field.jpeg"
            alt="Aerial view of a field"
            class="round max-h-[620px] w-full rounded-lg object-cover"
          />
        </div>
      </section>
      <section class="container flex gap-8 py-20">
        <div class="flex flex-1 flex-col justify-center">
          <h2 class="text-5xl">Precision Agriculture, Any Scale.</h2>
          <p class="mt-8 text-lg">
            At Precio, we believe in the power of data to drive progress. Our
            platform is designed to help you harness the potential of data,
            automate processes, and make more informed decisions. Whether you're
            an industry professional, a hobbyist, or simply passionate about
            agriculture, Precio is your partner for smarter farming.
          </p>
        </div>
        <div class="flex-1">
          <img
            src="/field.jpeg"
            alt="Aerial view of a field"
            class="round max-h-[620px] w-full rounded-lg object-cover"
          />
        </div>
      </section>
    </main>
  </div>
</Layout>
