---
import "@/styles/kalex.css";
import { Input } from "@/components/ui/input";
import {
  Card,
  CardContent,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
} from "@/components/ui/card";
import { Button } from "@/components/ui/button";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Building amazing solutions that matter."
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Kalex register Page</title>
  </head>
  <body class="flex h-screen w-screen items-center justify-between px-2">
    <div class="h-[98vh] w-[48vw] rounded-lg bg-muted"></div>
    <div
      class="flex h-[98vh] w-[48vw] flex-col items-center justify-between py-8"
    >
      <img src="/Kalexlogo.png" class="h-10" />
      <div class="flex flex-col gap-12">
        <div class="flex flex-col items-center">
          <div class="text-3xl">Create a New Account</div>
          <h4 class="text-primary">
            Enter your credentials below to create your account
          </h4>
        </div>
        <form
          name="ReachOut"
          class="flex w-[20vw] flex-col gap-4"
          data-netlify="true"
          method="POST"
        >
          <Input
            type="email"
            placeholder="email address"
            name="email"
            required
            aria-label="email"
            className=" text-card-foreground placeholder:text-input"
          />
          <Input
            type="text"
            placeholder="username"
            name="name"
            required
            aria-label="name"
            className=" text-card-foreground placeholder:text-input"
          />
          <Input
            type="password"
            placeholder="password"
            name="password"
            aria-label="password"
            className=" text-card-foreground placeholder:text-input"
          />
          <Button type="submit" className="bg-foreground">
            Create Account
          </Button>
        </form>
        <!-- <a class="self-end text-xs text-primary">Forget password?</a> -->
      </div>
      <h6 class="text-xs text-primary">
        Already have an account in kalex ?<span
          class="font-bold text-foreground"
        >
          log in</span
        >
      </h6>
    </div>
  </body>
  <!-- <main class="flex items-center justify-center">
      <div class="flex w-max flex-col items-center gap-4">
        <div class="flex flex-col items-center">
          <div class="text-2xl">Create a New Account</div>
          <h4 class="text-primary">
            Enter your credentials below to create your account
          </h4>
        </div>
        <form
          name="ReachOut"
          class="flex w-[25vw] flex-col gap-3"
          data-netlify="true"
          method="POST"
        >
          <Input
            type="text"
            placeholder="your username here"
            name="name"
            required
            aria-label="name"
            required
            className=" text-card-foreground placeholder:text-input"
          />
          <Input
            type="password"
            placeholder="make your password"
            name="enter yourpassword"
            aria-label="password"
            required
            className=" text-card-foreground placeholder:text-input"
          />
          <Button type="submit">Submit</Button>
        </form>
      </div>
    </main> -->

  <script is:inline>
    document.documentElement.classList.add("dark");
  </script>
</html>
