---
import Logo from "./Logo";
---

<footer class="bg-background">
  <div
    class="container mx-auto flex flex-col items-center justify-between px-6 py-8 lg:flex-row"
  >
    <a href="#">
      <Logo width={200} height={50} viewBox="0 0 500 70" />
    </a>

    <div
      class="mt-6 flex flex-wrap items-center justify-center gap-4 lg:mt-0 lg:gap-6"
    >
      <a
        href="/"
        class="text-sm text-gray-600 transition-colors duration-300 hover:text-blue-500 dark:text-gray-200 dark:hover:text-blue-400"
      >
        Home
      </a>

      <a
        href="/"
        class="text-sm text-gray-600 transition-colors duration-300 hover:text-blue-500 dark:text-gray-200 dark:hover:text-blue-400"
      >
        Features
      </a>

      <a
        href="#"
        class="text-sm text-gray-600 transition-colors duration-300 hover:text-blue-500 dark:text-gray-200 dark:hover:text-blue-400"
      >
        Pricing
      </a>
      <a
        href="#"
        class="text-sm text-gray-600 transition-colors duration-300 hover:text-blue-500 dark:text-gray-200 dark:hover:text-blue-400"
      >
        Careers
      </a>

      <a
        href="#"
        class="text-sm text-gray-600 transition-colors duration-300 hover:text-blue-500 dark:text-gray-200 dark:hover:text-blue-400"
      >
        Help
      </a>

      <a
        href="#"
        class="text-sm text-gray-600 transition-colors duration-300 hover:text-blue-500 dark:text-gray-200 dark:hover:text-blue-400"
      >
        Privacy
      </a>
    </div>

    <p class="mt-6 text-sm text-gray-500 dark:text-gray-400 lg:mt-0">
      © Copyright {new Date().getFullYear()} DynamyX.
    </p>
  </div>
</footer>
