---
import Logo from "./Logo";

const components: { title: string; href: string }[] = [
  {
    title: "What we do",
    href: "/#About",
  },
  {
    title: "Projects",
    href: "/#Projects",
  },
  {
    title: "Blogs",
    href: "/#Blogs",
  },
  {
    title: "Testimonials",
    href: "/#Testimonials",
  },
];
---

<footer class="bg-background">
  <div
    class="container mx-auto flex flex-col items-center justify-between px-6 py-8 lg:flex-row"
  >
    <Logo width={200} height={50} />
    <div
      class="mt-6 flex flex-wrap items-center justify-center gap-4 lg:mt-0 lg:gap-6"
    >
      <a
        href="/"
        class="text-sm text-foreground transition-colors duration-300 hover:text-blue-500"
      >
        Home
      </a>
      {
        components.map((data) => (
          <a
            href={data.href}
            class="text-sm  text-foreground transition-colors duration-300 hover:text-blue-500 "
          >
            {data.title}
          </a>
        ))
      }
    </div>

    <p class="mt-6 text-sm text-gray-500 dark:text-gray-400 lg:mt-0">
      © Copyright {new Date().getFullYear()} DynamyX.
    </p>
  </div>
</footer>
